@import 'base.scss';
@import 'breakpoint.scss';

.note {
  &__body {
    &-description,
    &-date {
      font-size: 0.875rem;
    }
    &-date {
      color: rgb(192, 192, 192);
    }
  }
  &__list {
    // grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  &__item {
    padding: 2.5rem 3rem 2rem 1.5rem;
    background-color: aliceblue;
  }
}
