@import 'base.scss';
@import 'breakpoint.scss';

.note {
  &__body {
    height: 100%;
    &-title {
      color: #232b2d;
      max-width: 200px;
      word-wrap: break-word;
    }
    &-description {
      font-size: 0.875rem;
      padding: 20px;
      text-align: left;
      word-break: break-word;
    }
    &-date {
      color: #232b2d;
      font-size: 0.75rem;
    }
    &-header {
      // background-color: aquamarine;
      padding: 10px 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-radius: 10px 10px 0 0;
    }
  }
  &__list {
    // grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  &__item {
    // padding: 2.5rem 3rem 2rem 1.5rem;
    // background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    box-shadow: 100px 35px 171px rgba(0, 0, 0, 0.1);
    transition: ease-out 0.5s;
    &-action {
      width: 100%;
      padding: 10px;
    }
  }
}

.btn-archive {
  margin-left: auto;
}
